// Colors
$colors: (
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "blue": $blue,
    "indigo": $indigo,
    "violet": $violet,
    "greyscale": $greyscale,
);

// Hex List Group
$red: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);
$orange: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);
$yellow: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);
$green: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);
$blue: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);
$indigo: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);
$violet: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);
$greyscale: (
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
    123123,
);