$colors: (
    $red: (
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
    ),
    $orange: (
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
        123123,
    )
);