// Common Variables
$start: 0;
$stop_tens: 10;
$stop_hundreds: 100;
$stop_thousands: 1000;
$stop_fonts: 72;

$tens: "";
$hundreds: "";
$thousands: "";
$font_weights: "";

// Sizes, Sides, & Axis
$sizes:('xxs','xs','sm','md','lg', 'xl', 'xxl');
$sides: ('T','B','L','R');
$axis:('X','Y', 'BOTH');

// Array<numbers>[0-10]
$i: $start;
@while $i <= $stop_tens {
  $tens: append($tens, $i, comma);
  $i: $i + 1;
}

// Array<numbers>[0-100]
$j: $start;
@while $j <= $stop_hundreds {
  $hundreds: append($hundreds, $j, comma);
  $j: $j + 1;
}

// Array<numbers>[0-1000].step(100)
$k: $start;
@while $k <= $stop_thousands {
  $thousands: append($thousands, $k, comma);
  $k: $k + 100;
}

// Array<numbers>[0-72]
$l: $start;
@while $l <= $stop_fonts {
  $font_weights: append($font_weights, $l, comma);
  $l: $l + 1;
}
