// Common Variables
$start: 0;
$stop_ones: 10;
$stop_tens: 100;
$stop_hundreds: 100;
$stop_thousands: 1000;
$stop_fonts: 72;

// Number Array Decalrations
$ones: "";
$tens: "";
$hundreds: "";
$thousands: "";
$font_weights: "";

// Sizes, Sides, & Axis
$sizes:('xxs','xs','sm','md','lg', 'xl', 'xxl');
$line_styles: ('solid', 'dashed');
$sides: (
  'T': 'top',
  'B': 'bottom',
  'L': 'left',
  'R': 'right'
  );
$axis:(
  'X': 'x',
  'Y': 'y',
  'BOTH': 'full'
  );

// Array<numbers>[0-10]
$i: $start;
@while $i <= $stop_ones {
  $ones: append($ones, $i, comma);
  $i: $i + 1;
}

// Array<numbers>[0-100]
$j: $start;
@while $j <= $stop_hundreds {
  $hundreds: append($hundreds, $j, comma);
  $j: $j + 1;
}

// Array<numbers>[0-100].step(10)
$k: $start;
@while $k <= $stop_tens {
  $tens: append($tens, $k, comma);
  $k: $k + 10;
}

// Array<numbers>[0-1000].step(100)
$l: $start;
@while $l <= $stop_thousands {
  $thousands: append($thousands, $l, comma);
  $l: $l + 100;
}

// Array<numbers>[0-72]
$m: $start;
@while $m <= $stop_fonts {
  $font_weights: append($font_weights, $m, comma);
  $m: $m + 1;
}
